# Temporary setup resources
config/mgmt-cluster/clusteroperators.yaml
config/mgmt-cluster/*.pem
config/active-cluster/cluster-service-account.jwk
config/active-cluster/controlplane-secrets.yaml
config/active-cluster/controlplane.yaml
config/standby-cluster/cluster-service-account.jwk
config/standby-cluster/controlplane-secrets.yaml
config/standby-cluster/controlplane.yaml
config/onboarding-agent-sample-jwt-credential-plugin
config/vm-aws/install-onboarding.sh
config/vm-aws//onboarding.config.yaml
config/tsb-gui.service
config/vm-gateway.service
config/vm-repo.service
