[Unit]
Description=TSB GUI Exposure

[Service]
Environment=KUBECONFIG=${HOME}/.kube/config

ExecStart=${KUBECTL} \
            --kubeconfig $KUBECONFIG \
            --context mgmt-cluster-m1 \
            port-forward -n tsb service/envoy 443:8443 --address 0.0.0.0

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target