[Unit]
Description=TSB GUI Exposure

[Service]
ExecStart=${KUBECTL} \
            --kubeconfig ${HOME}/.kube/config \
            --context mgmt-cluster-m1 \
            port-forward -n tsb service/envoy 8443:8443 --address 0.0.0.0

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target