[Unit]
Description=VM Gateway Exposure

[Service]
ExecStart=${KUBECTL} \
            --kubeconfig $HOME/.kube/config \
            --context active-cluster-m2 \
            port-forward -n istio-system service/vmgateway 8443:8443 --address 0.0.0.0

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target